<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>17/10/03 14:33:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleSearchParameterTest.testParameterWithXML(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.datadriven.core.DataDrivenTestNGDemo.GoogleSearchParameterTest@4c70fda8]">testParameterWithXML</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/10/03 14:33:41</td>   <td>39187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleSearchParameterTest.testParameterWithXML(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.datadriven.core.DataDrivenTestNGDemo.GoogleSearchParameterTest@4667ae56]">testParameterWithXML</td> 
  <td>main@101478235</td>   <td></td> </tr>
</table>
