<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GoogleAmazonSearchMultiBrowserDataProviderTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>17/10/03 14:53:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAmazonSearchMultiBrowserDataProviderTest.testGoogleSearchBar(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.datadriven.core.DataDrivenTestNGDemo.GoogleAmazonSearchMultiBrowserDataProviderTest@523884b2]">testGoogleSearchBar</td> 
  <td>PoolService-1@785877937</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/10/03 14:53:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAmazonSearchMultiBrowserDataProviderTest.testGetAmazonHomePage(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.datadriven.core.DataDrivenTestNGDemo.GoogleAmazonSearchMultiBrowserDataProviderTest@523884b2]">testGetAmazonHomePage</td> 
  <td>PoolService-1@846904489</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/10/03 14:53:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAmazonSearchMultiBrowserDataProviderTest.testGoogleSearchBar(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.datadriven.core.DataDrivenTestNGDemo.GoogleAmazonSearchMultiBrowserDataProviderTest@523884b2]">testGoogleSearchBar</td> 
  <td>PoolService-1@785877937</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/10/03 14:53:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleAmazonSearchMultiBrowserDataProviderTest.testGetAmazonHomePage(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.datadriven.core.DataDrivenTestNGDemo.GoogleAmazonSearchMultiBrowserDataProviderTest@523884b2]">testGetAmazonHomePage</td> 
  <td>PoolService-1@846904489</td>   <td></td> </tr>
</table>
